
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    font: Arial;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    max-width: 400px;
    margin: 0 auto; 
    background-color: #f0f4f8; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.score-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #4f46e5;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-right: 16px;
}
ul li {
    display: flex;
    padding: 16px;
    background-color: #f4f4f4;
    margin-top: 10px;
    border-radius: 8px;
    overflow-x: scroll;
    text-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

ul li:hover {
    background-color: #e0e7ff; 
    transform: translateY(-4px); 
}

ul li a {
    text-decoration: none; 
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

ul li a:hover {
    color: #4f46e5;
}

h1 {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: black;
}